@import url('../fonts/RobotoMono-Regular.ttf');

html, body {
    height:100%;
}

h1 {
    color: #FF6A00;
    font-size: 26px;
    font-weight: 300;
}

h1.markup::before {
    content: '# ';
    color: #C0C0C0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: 20%;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

h1.title {
    margin-bottom: 30px;
}

h2 {
    color: #FF6A00;
    font-size: 24px;
    font-weight: 100;
    margin: 30px 0px 15px 0px;
}

h2.markup::before {
    content: '## ';
    color: #C0C0C0;
    font-size: 12px;
    letter-spacing: 1px;
    vertical-align: 20%;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px 15px 0px;
}

h3.markup::before {
    content: '### ';
    color: #C0C0C0;
    font-size: 12px;
    letter-spacing: 1px;
    vertical-align: 10%;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

a, a:visited {
    color: #86B300;
}

a:hover, a:active {
    color: #86B300;
    text-decoration: none;
    border-bottom: 1px dotted #86B300;
}

a.markup::before {
    content: '[';
    color: #C0C0C0;
    font-weight: 500;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

a.markup::after {
    content: '](' attr(href) ')';
    color: #C0C0C0;
    font-weight: 500;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

b.markup::before, b.markup::after {
    content: '**';
    color: #C0C0C0;
    font-weight: 500;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

mark {
    margin: 0 2px;
    padding: 1px 3px;
}

mark.required {
    border: 1px solid #FF3333;
    background-color: #FFCCCC;
}

ul.no-bullets  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer > div.toolbar {
    padding: 2px 10px;
    height: 30px;
    margin-top: 30px;
}

.container {
    padding: 0px;
}

.breadcrumb {
    padding: 0px;
    margin: 10px 0px;
    float: right;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
}

.toolbar {
    padding: 10px 20px;
    height: 50px;
    background-color: #39434D;
}

.toolbar-button {
    color: #FFFFFF;
    font-size: 20px;
}

.toolbar-button:hover {
    color: #86B300;
    cursor: pointer;
}

.toolbar-social {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0 5px;
}

.toolbar-social:hover {
    color: #86B300;
    cursor: pointer;
}

:not(pre) > code.markup::before, :not(pre) > code.markup::after {
    content: '`';
    color: #C0C0C0;
    font-weight: 500;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

.code {
    padding: 0px;
}

.code.markup::before {
    content: '```'attr(data-lang);
    color: #C0C0C0;
    font-size: 12px;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

.code.markup::after {
    content: '```';
    color: #C0C0C0;
    font-size: 12px;
    font-family: "Roboto Mono", "Consolas", "Bitstream Vera Sans Mono", Courier, monospace;
}

.subsection {
    margin-top: 20px;
}

.date {
    color: #FFFFFF;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}