@import url('../fonts/RobotoMono-Regular.ttf');

html, body {
    height:100%;
}

h1 {
    color: #FF6A00;
    font-size: 26px;
    font-weight: 300;
}

h1:before {
    content: '# ';
    color: #C0C0C0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: 20%;
}

h1.title {
    margin-bottom: 30px;
}

h2 {
    color: #FF6A00;
    font-size: 24px;
    font-weight: 100;
}

h2:before {
    content: '## ';
    color: #C0C0C0;
    font-size: 12px;
    letter-spacing: 1px;
    vertical-align: 20%;
}

a, a:visited {
    color: #86B300;
}

a:hover, a:active {
    color: #86B300;
    text-decoration: none;
    border-bottom: 1px dotted #86B300;
}

.breadcrumb {
    padding: 0px;
    margin: 10px 0px;
    float: right;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
}

.toolbar {
    padding: 10px 20px;
    height: 40px;
    background-color: #39434D;
}

.toolbar-button {
    color: #FFFFFF;
    font-size: 20px;
}

.toolbar-button:hover {
    color: #86B300;
}

:not(pre) > code {
    padding: 0px;
    color: #FF6A00;
    font-family: 'Roboto Mono';
    background-color: transparent;
}

:not(pre) > code:before, :not(pre) > code:after {
    content: '`';
    color: #FF6A00;
    font-weight: 500;
    font-family: 'Roboto Mono';
}

pre > code {
    font-family: 'Roboto Mono';
}

.code {
    padding: 0px;
}

.code:before {
    content: '```'attr(data-lang);
    color: #C0C0C0;
    font-size: 12px;
    font-family: 'Roboto Mono';
}

.code:after {
    content: '```';
    color: #C0C0C0;
    font-size: 12px;
    font-family: 'Roboto Mono';
}